:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --star-gold-color: #ffce3e;
    --border-color: #dbdbdb;
    --header-height: 120px;
    --navbar-height: 34px;
    --header-width-search-height: calc( var(--header-height) - var(--navbar-height));
}


/* Upload tất cả file css lên file html */

* {
    box-sizing: inherit;
    /*inherit kế thừa lại thuộc tính border-box*/
}

html {
    /* font-size: mặc định là 16px; */
    /* 100% bằng 16px */
    /* HACK */
    font-size: 62.5%;
    line-height: 1.6rem;
    /* 1.6 rem là 16px*/
    font-family: "Roboto", sans-serif;
    /*sans-serif là tập hơp những chữ không có chân*/
    box-sizing: border-box;
}


/* 1 rem bằng 16px */


/* p{
    font-size: 1.6rem;
} */


/* Responsive    */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full--width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex: wrap;
    margin-left: -5px;
    margin-right: -5px;
    flex-wrap: wrap;
}


/* Test */

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: calc((10 / 12) * 100%);
}


/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}


/* Modal */

.modal {
    position: fixed;
    /* thuộc tính chiếm hết màn hình*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay
/* phần nổi lên*/

{
    position: absolute;
    /*con của thằng modalvà thấy tahwnfh modal làm gốc tọa độ chính */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    /* thằng nào viết sau là thằng đó lên trước*/
    /* z-index: ; ông nào có thuộc tính z-index lớn nhất là nổi lên trên ông có thuộc tính z-index bé hơn */
    z-index: 1;
    animation: growth linear 0.1s;
}


/* Button style */

.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
    /* Khi nào cần vô hiệu háo thì dùng thuộc tính .btn.btn--disabled */
}


/* Selection */

.select-input {
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 6px 12px #ccc;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: #4a4a4a;
    position: relative;
    top: 1px;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 12px 16px;
    list-style: none;
    display: none;
    z-index: 1;
}

.select-input__link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 6px 0;
}

.select-input__link:hover {
    color: var(--primary-color);
}

.select-input:hover .select-input__list {
    display: block;
}


/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item {}

.pagination-item__link {
    text-decoration: none;
    font-size: 1.4rem;
}

.pagination-item__icon {}