:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}


/* Upload tất cả file css lên file html */

* {
    box-sizing: inherit;
    /*inherit kế thừa lại thuộc tính border-box*/
}

html {
    /* font-size: mặc định là 16px; */
    /* 100% bằng 16px */
    /* HACK */
    font-size: 62.5%;
    line-height: 1.6rem;
    /* 1.6 rem là 16px*/
    font-family: "Roboto", sans-serif;
    /*sans-serif là tập hơp những chữ không có chân*/
    box-sizing: border-box;
}


/* 1 rem bằng 16px */


/* p{
    font-size: 1.6rem;
} */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full--width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex: wrap;
}


/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}