:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
}


/* Upload tất cả file css lên file html */

* {
    box-sizing: inherit;
    /*inherit kế thừa lại thuộc tính border-box*/
}

html {
    /* font-size: mặc định là 16px; */
    /* 100% bằng 16px */
    /* HACK */
    font-size: 62.5%;
    line-height: 1.6rem;
    /* 1.6 rem là 16px*/
    font-family: "Roboto", sans-serif;
    /*sans-serif là tập hơp những chữ không có chân*/
    box-sizing: border-box;
}


/* 1 rem bằng 16px */


/* p{
    font-size: 1.6rem;
} */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full--width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex: wrap;
}


/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Modal */

.modal {
    position: fixed;
    /* thuộc tính chiếm hết màn hình*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.modal__overlay
/* phần nổi lên*/

{
    position: absolute;
    /*con của thằng modalvà thấy tahwnfh modal làm gốc tọa độ chính */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    background-color: var(--white-color);
    margin: auto;
    position: relative;
    /* thằng nào viết sau là thằng đó lên trước*/
    /* z-index: ; ông nào có thuộc tính z-index lớn nhất là nổi lên trên ông có thuộc tính z-index bé hơn */
    z-index: 1;
    border-radius: 5px;
}


/* Button style */

.btn {
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0;
    outline: none;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}